force-app/main/default/flows/Harish_CC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <choices>
        <name>Amex</name>
        <choiceText>Amex</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Amex</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choose</name>
        <choiceText>{!Add_Second_Card}</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>MasterCard</name>
        <choiceText>MasterCard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MasterCard</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Visa</name>
        <choiceText>Visa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Visa</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Condition</name>
        <label>Condition</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Exit</defaultConnectorLabel>
        <rules>
            <name>Add_Second_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Second_Card</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Credit_Card_2</targetReference>
            </connector>
            <label>Add Second Card</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Harish CC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Harish CC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Credit_Card_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Customer_Name1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Customer_Phone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Credit_Card_1</name>
        <label>Create Credit Card 1</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Decision_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Create_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Card_Type__c</field>
            <value>
                <elementReference>Card1_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>Card1_Expiry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Card1_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Credit_Card__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Credit_Card_2</name>
        <label>Create Credit Card 2</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Create_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Card_Type__c</field>
            <value>
                <elementReference>Card2_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>Card2_Expiry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Card2_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Credit_Card__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Capture_Credit_Card_2</name>
        <label>Capture Credit Card 2</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Credit_Card_2</targetReference>
        </connector>
        <fields>
            <name>Card2_Number</name>
            <dataType>String</dataType>
            <fieldText>Card Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Card2_Expiry</name>
            <dataType>Date</dataType>
            <fieldText>Expiration Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Card2_Type</name>
            <choiceReferences>Visa</choiceReferences>
            <choiceReferences>MasterCard</choiceReferences>
            <choiceReferences>Amex</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Card Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Credit_Card_1</name>
        <label>Credit Card 1</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Credit_Card_1</targetReference>
        </connector>
        <fields>
            <name>Card1_Number</name>
            <dataType>String</dataType>
            <fieldText>Card Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Card1_Expiry</name>
            <dataType>Date</dataType>
            <fieldText>Expiration Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Card1_Type</name>
            <choiceReferences>Visa</choiceReferences>
            <choiceReferences>MasterCard</choiceReferences>
            <choiceReferences>Amex</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Card Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Details</name>
        <label>Customer Details</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
        <fields>
            <name>Customer_Name1</name>
            <dataType>String</dataType>
            <fieldText>Customer Name1</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Customer_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Customer_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer Phone</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Decision_Screen</name>
        <label>Decision Screen</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Condition</targetReference>
        </connector>
        <fields>
            <name>Continue_to_Next</name>
            <fieldText>&lt;p&gt;Do you wish to enter new credit card details?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Credit_Details</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Customer_Details</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Customer_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
